@import './preflight.css';
@import './transitions/basic.css';
@import '../fonts/index.css';

body {
	font-family: "Suisse Int'l", sans-serif;
	font-weight: 500;

	--primary: #fafafa;
	--surface: #191919;
	--canvas: #fafafa;

	color: var(--surface);
	background: var(--primary);
}

/* Default values, will be overwritten by JS */
:where(html) {
	--visual-viewport-width: 100vw;
	--visual-viewport-height: 100vh;
}
@supports (width: 100dvw) {
	:where(html) {
		--visual-viewport-width: 100dvw;
		--visual-viewport-height: 100dvh;
	}
}

body {
	@apply overflow-x-hidden overflow-y-scroll;
}
